$Primarybg-color: #ffffff;
$PrimaryGeneral-color: #db7a4e;
$FontColor: black;
$wordmarkFont: 1.5rem;
$mainbg-color: #fefaf5;
$PrimaryFont-color: #335576;
$btnFontSize: 1rem;
$TravelReasonFont: 4rem;
$PrimaryFont-color: #335576;
$PrimaryGeneral-color: #db7a4e;
$PrimaryFont-color: #335576;
